{% extends "RMS/Page.html" %}
{% load otree static %}

{% block title %}
    Take a Decision
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}


<!--Random number {{player.subsession.random_number }}-->
<br>
<br>

<h5>
{% if continue %}
You 
{% if rematched %}
were rematched to the <font color="blue"> new player </font>
{% else  %}
continue with the <font color="blue"> same player </font> as in the previous round
{% endif %}
{% endif %}
</h5>

<br>
<br> 

    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2"> <span class="other_payoff">Other's Choice</span></th>
            </tr>
            <tr>
                <th>A</th>
                <th>B</th>
            </tr>
            <tr class="highlight-row-on-hover">
                <th rowspan="2"><span class="rotate90 own_payoff">You</span></th>
                <td><button name="action" value="True" class="btn btn-primary btn-large">I will choose A</button></td>
                <td><span class="own_payoff">{{Constants.CC_payoff}}</span>, <span class="other_payoff">{{Constants.CC_payoff}}</span></td>
                <td><span class="own_payoff">{{ Constants.CD_payoff }}</span>, <span class="other_payoff">{{Constants.DC_payoff}}</span></td>
            </tr>
            <tr class="highlight-row-on-hover">
                <td><button name="action" value="False" class="btn btn-primary btn-large">I will choose B</button></td>
                <td><span class="own_payoff">{{Constants.DC_payoff}}</span>, <span class="other_payoff">{{ Constants.CD_payoff }}</span></td>
                <td><span class="own_payoff">{{Constants.DD_payoff}}</span>, <span class="other_payoff">{{Constants.DD_payoff}}</span></td>
            </tr>
        </table>
    </div>

{% endblock %}
