{% extends "global/Page.html" %}
{% load static otree %}

{% block app_styles %}

    <style type="text/css">
    .own_payoff{
        color:#f18f01;
        font-weight: bold;
    }
    .other_payoff{
        color:#048BA8;
        font-weight: bold;
    }

    th.rotate {
      height:130px;
      white-space: nowrap;
      position:relative;
      width:50px;
    }

    th.rotate > div {
      transform: rotate(270deg);
      position:absolute;
      left:0;
      right:0;
      top: 75px;
      margin:auto;
    }

    ._otree-content{
        font-size:18px;
    }
    </style>

{% endblock %}