{% extends "RMS/Page.html" %}
{% load otree static %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}


<h3 align="center">
INSTRUCTIONS
</h3>

<b> Welcome </b>
<br>
Thank you for participating in today’s experiment. Please remain silent during the experiment and note that use of cellphones is prohibited. If you have any questions, please raise your hand and the experimenter will assist you in private.

<br>
<br>

This is an experiment in decision making. Your earnings from the experiment will depend in part on your decisions, in part on the decisions of other subjects and on chance. Please pay careful attention to the instructions as a considerable amount of money is at stake.

<br>
<br>

<b> Thanks for showing up</b><br>
Just for being willing to participate, you will automatically earn $5. Whatever you earn in the rest of the session will be in addition to this $5.

<br>
<br>

<b>Your Identity</b> <br>
You will never be asked to reveal your identity to anyone during the course of the experiment. Your name will never be recorded. Neither the experimenters nor anyone else in the room will be able to link you to any of your decisions. In order to keep your decisions private, please do not reveal your choices to any other participant.

<br>
<br>

<h4 align="center">
This Experiment
</h4>

In this experiment you will be asked to make decisions in several rounds. You will be randomly paired with another person for a sequence of rounds. Each sequence of rounds is referred to as a match.

<br>
<br>

The length of a match is randomly determined. After each round, there is {{ prob }}% chance that the match will continue for at least another round. This is as if we would roll a five-sided die after each round and continue only if five is rolled. So, for instance, if you are in round 2, the chance there will be a third round is {{ prob }}% and if you are in round 9, the chance there will be another round is also {{ prob }}%.

<br>
<br>

Once a match ends, you will be randomly paired with another person for a new match. You will play the total of {{ rounds }} rounds in different matches determined by the rule from the previous paragraph.

<br>
<br>

Your choices will earn you tokens. The choices and the payoffs in tokens in each round are as follows:

<br>
<br> 

    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2"><span class="other_payoff"> Other's Choice</span></th>
            </tr>
            <tr>
                <th>A</th>
                <th>B</th>
            </tr>
            <tr class="highlight-row-on-hover">
                <th class="rotate" rowspan="2" ><div class="own_payoff">Your Choice</div></th>
                <th> A </th>
                <td><span class="own_payoff">{{CC_payoff}}</span>, <span class="other_payoff">{{CC_payoff}}</span></td>
                <td><span class="own_payoff">{{CD_payoff }}</span>, <span class="other_payoff">{{DC_payoff}}</span></td>
            </tr>
            <tr class="highlight-row-on-hover">
                <th> B </th>
                <td><span class="own_payoff">{{DC_payoff}}</span>, <span class="other_payoff">{{CD_payoff }}</span></td>
                <td><span class="own_payoff">{{DD_payoff}}</span>, <span class="other_payoff">{{DD_payoff}}</span></td>
            </tr>
        </table>
    </div>

<br>
<br> 

    <p>The first entry in each cell represents your payoff, while the second entry represents the payoff of the person you are matched with.</p>

    <p>As you can see, this shows the payoff associated with each choice. Once you and the person you are paired with have made your choices, those choices will be highlighted and your payoff for the round will appear.</p>



<b>That is, if:</b>
<br>
    You select <span class="own_payoff">A</span> and the other selects <span class="other_payoff">A</span>, you each make {{CC_payoff}}. <br>
You select <span class="own_payoff">A</span> and the other selects <span class="other_payoff">B</span>, you make {{CD_payoff}} while the other makes {{DC_payoff}}.  <br>
You select <span class="own_payoff">B</span> and the other selects <span class="other_payoff">A</span>, you make {{DC_payoff}} while the other makes {{CD_payoff}}. <br>
You select <span class="own_payoff">B</span> and the other selects <span class="other_payoff">B</span>, you each make {{DD_payoff}}. <br>

<br>
<br>

<b>Payment</b>
<br>

At the end of experiment your total earnings will be computed as the sum of the entire amount earned during the {{rounds}} rounds. You will be paid $0.004 for every token earned in every match.
Your final payment will be automatically rounded up to the nearest quarter of the dollar.

<br>
<br>

<b>Summary</b>

<ul>
<li>	
	The length of a match is randomly determined. After each round, there is {{prob}}% chance that the match will continue for at least another round. You will play with the same person for the entire match.
</li>

<li>	
	After a match is finished, you will be randomly paired with another person for a new match.
</li>

<li>
  Your final payment is equal to the entire number of tokens earned during the experiment (1 token = $0.004) and the show up fee of $5.
  Your final payment will be automatically rounded to the nearest quarter of the dollar. 
</li>
</ul>


<br>
<br>

Are there any questions? 

<br>
<br>


<h4 align="center">
Thank You and Good Luck!
</h4>
 


{% endblock %}